<h2><%= @vendor.name %></h2>
<p>
  Contact Info:<br />
  Name: <%= @vendor.contact_name %><br />
  Phone: <%= @vendor.contact_phone %><br />
</p>
<p>
  Credit accepted?: <%= @vendor.credit_accepted %>
</p>
<p>
  Description: <%= @vendor.description %>
</p>