<h2><%= @market.name %></h2>
<p>
  <%= @market.address %><br />
  <%= @market.city %>, <%= @market.state %> <%= @market.zip %>
</p>
<h3>Vendors at at our Market:</h3>
<p id="vendors_list">
  <% @vendors.each do |vendor| %>
    <%= link_to vendor.name, vendor_path(vendor.id) %><br />
  <% end %>
</p>